 @using Library
@using Library.Schemas;

@page "/user"

<h3>Usuario</h3>

<Web.Components.LoginBox OnSubmitted="OnUserLogin"></Web.Components.LoginBox>

<p>Actualmente has iniciado sesión como @_cachedUsername</p>

@code {
    // The data saved in the browser caché
    private string _cachedUsername = "";

    // When the page loads, retrieve data from LocalStorageService
    protected async override void OnInitialized()
    {
        _cachedUsername = await LocalStorage.GetUsername();
        StateHasChanged();
    }

    // When the user tries to login, check credentials and, if correct, save to LocalStorageService
    private async void OnUserLogin(UserLogin userLogin)
    {
        await IntratimeService.LoginUser(userLogin.Email, userLogin.Password);
        await LocalStorage.SetUsername(userLogin.Email);
        await LocalStorage.SetPassword(userLogin.Password);
        _cachedUsername = userLogin.Email;
        StateHasChanged();
    }
}