 @using Library

@page "/user"

<h3>Usuario</h3>

<p>Utiliza tus credenciales de intratime para iniciar sesión en el servicio</p>

Nombre de usuario (correo): <input @bind="_newUsername"/><br />
Contraseña: <input type="password" @bind="_newPassword" />
<button @onclick="OnUserLogin">CONFIRMAR</button>

Actualmente has iniciado sesión como @_cachedUsername

@code {
    // The data the user interacts with in the form
    private string _newUsername = "";
    private string _newPassword = "";

    // The data saved in the browser caché
    private string _cachedUsername = "";
    private string _cachedPassword = "";

    // When the page loads, retrieve data from LocalStorageService
    protected async override void OnInitialized()
    {
        _cachedUsername = await LocalStorageService.GetItemAsStringAsync("username");
        _cachedPassword = await LocalStorageService.GetItemAsStringAsync("password");
    }

    // When the user tries to login, check credentials and save to LocalStorageService
    private async void OnUserLogin()
    {
        var content = new FormUrlEncodedContent(new[]
        {
            new KeyValuePair<string, string>("user", _newUsername),
            new KeyValuePair<string, string>("pin", _newPassword)
        });
        var response = await Clients.IntratimeMiddlewareClient.PostAsync("user/login", content);
        if (response.IsSuccessStatusCode)
        {
            await LocalStorageService.SetItemAsStringAsync("username", _newUsername);
            await LocalStorageService.SetItemAsStringAsync("password", _newPassword);
            _cachedUsername = _newUsername;
        }
    }
}